@import url(./assets/css/dashboard.css);
@import url(./assets/css/login.css);
@import url(./assets/css/forms.css);
@import url(./assets/css/cards.css);
@import url(./assets/css/basics.css);

a,a:active,a:visited {
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
}

ul, ul li {
    margin: 0;
    padding: 0;
}

.sec_ttl {
    margin: 0 0 30px;
}

.dflex {
    display: flex;
    display: -ms-flexbox;
}

.dash_innerWrapper {
    padding: 20px;
    margin: 15px;
}

.nav_sec .cst_card {
    max-width: 30rem;
    margin: 0 auto;
}

.manage_Form .formLabel_list li {
    display: flex;
    display: -ms-flexbox;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 15px;
    gap: 10px;
}

.manage_Form .formLabel_list li input {
    margin: 0 !important;
}

.manage_Form .radContainer {
    width: 50%;
}

.manage_Form .radContainer label {
    margin: 0 10px;
}

.manage_Form .radContainer input[type="radio"] {
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px !important;
}

.tableActionBtns .btn {
    display: inline-block;
}

span.error {
    font-size: 12px;
    color: red;
    margin-bottom: 5px;
}

.footer {
    padding: 20px;
    box-shadow: 0px -5px 10px rgba(0,0,0,0.1);
    margin: 20px 0 0;
    text-align: right;
    font-size: 12px;
    position: absolute;
    bottom: 0;
    width: 100%;
}